version: '3'

services:
  postgres:
    image: postgres:16
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: flutter_butler
      POSTGRES_PASSWORD: password
    volumes:
      - flutter_butler_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - '6379:6379'

volumes:
  flutter_butler_data:
